[submodule "3term/algorithms/lab5/lib/libfort"]
	path = 3term/algorithms/lab5/lib/libfort
	url = https://github.com/NavkaGleb/libfort
[submodule "3term/Algorithms/lab7/lib/Random"]
	path = 3term/Algorithms/lab7/lib/Random
	url = https://github.com/NavkaGleb/Random
[submodule "Term4/Algorithms/Lab01/lib/Random"]
	path = Term4/Algorithms/Lab01/lib/Random
	url = https://github.com/NavkaGleb/Random
[submodule "Term4/Algorithms/Lab02/lib/Random"]
	path = Term4/Algorithms/Lab02/lib/Random
	url = https://github.com/NavkaGleb/Random
[submodule "Term4/Algorithms/Lab03/lib/Random"]
	path = Term4/Algorithms/Lab03/lib/Random
	url = https://github.com/NavkaGleb/Random
[submodule "Term4/OOP/Lab01/RefactoredProject/lib/Random"]
	path = Term4/OOP/Lab01/RefactoredProject/lib/Random
	url = https://github.com/NavkaGleb/Random
[submodule "Term4/Algorithms/Lab04/lib/Random"]
	path = Term4/Algorithms/Lab04/lib/Random
	url = https://github.com/NavkaGleb/Random
[submodule "Term4/Algorithms/Lab04/lib/libfort"]
	path = Term4/Algorithms/Lab04/lib/libfort
	url = https://github.com/seleznevae/libfort
[submodule "Term4/Algorithms/Lab07/Dependencies/Random"]
	path = Term4/Algorithms/Lab07/Dependencies/Random
	url = https://github.com/NavkaGleb/Random
