<div class="container">
  <% if @schoolboys != nil && @schoolboys.size != 0 %>
    <table class="table table-bordered mt-5">
      <tr>
        <th scope="col">Surname</th>
        <th scope="col">Where want to enter</th>
        <th scope="col">Where entered</th>
      </tr>

      <% @schoolboys.each do |schoolboy| %>
        <tr class="align-middle">
          <th scope="row">
            <%= link_to schoolboy.surname, schoolboy %>
          </th>
          <td>
            <%= schoolboy.where_want_to_enter %>
          </td>
          <td>
            <%= schoolboy.where_entered %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p class="mt-4 text-center">No schoolboys :(</p>
  <% end %>

  <%= link_to "To main page", root_path, class: "btn btn-sm btn-primary w-100 mt-3 mb-5" %>
</div>