#cart {
    position: fixed;
    bottom: 20px;
    left: 20px;
    color: white;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    border: 1px solid transparent;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5
}