#feedback-background-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(40, 40, 40, 0.6);
	display: none;
	justify-content: center;
	align-items: center;
	animation-duration: 0.3s;
    animation-fill-mode: forwards;
    transition: opacity 1s;
}

@keyframes open-form {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes close-form {
    from {
        opacity: 1;
    }

    99% {
	    opacity: 0;
	    z-index: 100;
	}

	100% {
		opacity: 0;
		display: none;
		z-index: -5;
	}
}

.feedback-form-container {
	width: 350px;
	height: 600px;
	background: white;
	opacity: 1.0;
	display: flex;
	flex-direction: column;
	padding: 20px;
	position: relative;
	box-shadow: 0 0px 20px rgba(30, 30, 30, 0.9);
}

#feedback-form-close-button {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: none;
	background-image: url('../media/cross-icon.svg');
	background-size: 90% 90%;
	background-repeat: no-repeat;
	background-position: center;
	border: none;
	outline: none;
	transition: 0.3s;
}

#feedback-form-close-button:hover {
	background-image: url('../media/red-cross-icon.svg');
	cursor: pointer;
}

.feedback-form-close-icon {
	width: 100%;
	height: 100%;
}

.feedback-form-title {
	text-align: center;
}

.feedback-form {
	display: flex;
	flex-direction: column;
}

.feedback-form-row {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 10px 0;
}

.feedback-form-label {
}

.feedback-form-input {
	width: 100%;
	height: 20px;
}

.feedback-form-textarea {
	width: 100%;
}

#feedback-form-submit-button {
	height: 30px;
	background: rgb(229, 229, 229);
	border: none;
	outline: none;
	transition: 0.3s;
}

#feedback-form-submit-button:hover {
	background: rgb(255, 204, 204);
	border: none;
	outline: none;
	cursor: pointer;
}

.feedback-form-link {
	font-size: 16px;
	transition: 0.3s;
}

.feedback-form-link:hover {
	color: red;
	cursor: pointer;
}